.container {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 2.5rem 2rem;
}

.logoTitulo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 40px;
  height: 40px;
}

.titulo {
  font-size: 22px;
  font-weight: bold;
  color: #e3f2e1;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list li {
  font-weight: 500;
  color: #e3f2e1;
  list-style: none;
}

.list a {
  text-decoration: none;
  color: #e3f2e1;
}

.contato {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contato p {
  color: #e3f2e1;
  font-weight: 500;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
  }

  .logoTitulo {
    margin-bottom: 1.5rem;
  }

  .titulo {
    font-size: 20px;
  }

  .logo {
    width: 1.2rem;
    height: 1rem;
  }

  .list {
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .list li {
    font-size: 1rem;
  }

  .contato {
    align-items: center;
  }

  .contato p {
    font-size: 1rem;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .container {
    padding: 2.5rem 1.5rem;
    justify-content: space-around;
  }

  .titulo {
    font-size: 21px;
  }

  .list {
    gap: 0.8rem;
  }

  .list li {
    font-size: 1.05rem;
  }

  .contato p {
    font-size: 1.05rem;
  }
}
