.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.inputGroup label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.inputGroup input[type="text"],
.inputGroup input[type="email"],
.inputGroup input[type="password"],
.inputGroup input[type="date"],
.inputGroup select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box; /* Impede que o padding aumente a largura total */
}
